html{
  background: #FFFDF9;
}

.navHome{
    font-family: Neue Machina;
    font-size: 32px;
    font-weight: lighter;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a:link{
    text-decoration: none;
    color: black;
  }

a:visited{
    text-decoration: none;
    color: black; 
  }
  
a:hover{
    opacity: 50%;
    font-size: 25px;
    color: maroon;
  }

a:active{
    opacity: 100%;
}

.info{
  font-family: Blinker;
  font-size: 25px;
  font-weight: lighter;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}


#memePic{
	display: flex;
  justify-content: center;
  padding-top: 100px;
}

/* TODO: PART 3 - Add flip animation to flip card */
#memePic{
	animation-name: flip;
	animation-duration: 2.6s;
	animation-iteration-count: infinite;
}
/* TODO: PART 3 - Write flip animation */
@keyframes flip{
	0%{
		transform: perspective(300px); 
	}
	50%{
		transform: perspective(300px) rotateY(180deg); 
	}
	100%{
		transform: perspective(300px) rotateY(180deg) rotateX(180deg); 
	}
}